body{
    margin:0;
    overflow:hidden;
    font-family:Arial,sans-serif;
    background:#222;
}

#gameCanvas{
    display:block;
    width:100vw;
    height:100vh;
    background:#4CAF50;
}

#game-ui{
    position:absolute;
    top:10px;
    left:10px;
    z-index:100;
    color:white;
    background:rgba(0,0,0,0.5);
    padding:10px;
    border-radius:10px;
}

#location{
    font-size:20px;
    font-weight:bold;
}

#badges{
    margin-top:5px;
}

#battleScreen{
    position:absolute;
    inset:0;
    background:white;
    z-index:200;
    padding:20px;
}

.hidden{
    display:none;
}

#enemyName{
    font-size:28px;
    font-weight:bold;
}

#enemyHp{
    font-size:20px;
    margin-bottom:20px;
}

#playerPokemon{
    font-size:20px;
    margin-top:20px;
}

#battleText{
    margin-top:20px;
    min-height:50px;
    font-size:18px;
}

button{
    padding:12px 20px;
    margin:5px;
    font-size:18px;
    border:none;
    border-radius:10px;
    background:#3b82f6;
    color:white;
}

#controls{
    position:fixed;
    bottom:20px;
    left:20px;
    z-index:300;
}

#controls button{
    width:75px;
    height:75px;
    font-size:32px;
    margin:4px;
}

@media (max-width: 800px){

    #controls button{
        width:85px;
        height:85px;
    }

    button{
        font-size:20px;
    }

}
